In [6]:
import pandas as pd
import numpy as np
import os

In [7]:
folder_name = 'competitive-data-science-predict-future-sales'
path = os.getcwd() + '\\' + folder_name + '\\'

items_df = pd.read_csv(path + 'items.csv')
item_categories_df = pd.read_csv(path + 'item_categories.csv')
sales_train_df = pd.read_csv(path + 'sales_train.csv')
sample_submission_df = pd.read_csv(path + 'sample_submission.csv')
shops_df = pd.read_csv(path + 'shops.csv')
test_df = pd.read_csv(path + 'test.csv')

In [13]:
daily_df = sales_train_df.join(items_df.set_index('item_id'), on='item_id').drop('item_name', axis=1)
daily_df.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_category_id
0,02.01.2013,0,59,22154,999.00,1.0,37
1,03.01.2013,0,25,2552,899.00,1.0,58
2,05.01.2013,0,25,2552,899.00,-1.0,58
3,06.01.2013,0,25,2554,1709.05,1.0,58
4,15.01.2013,0,25,2555,1099.00,1.0,56